@using Solution.Core.Models.CNF.Dto;
@model IEnumerable<CommissionerDto>

@{
	var title = "Commissioner List";
	ViewData["Title"] = title;
}
<partial name="_Notification" />
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-8">
				<h2>@title</h2>
			</div>
			<div class="col-4 text-end">
				<a asp-action="Create" class="btn btn-success text-white mt-1"><i class="fas fa-plus"></i> Create New</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		@*<table class="table table-striped table-bordered table-responsive">
		<thead class="bg-info align-middle text-center">
		<tr>
		<th>@Html.DisplayNameFor(model => model.NameFull)</th>
		<th>@Html.DisplayNameFor(model => model.NameShort)</th>
		<th>Action</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
		<tr>
		<td>@item.NameFull</td>
		<td>@item.NameShort</td>

		<td>
		<div class="btn-group" role="group" aria-label="Basic mixed styles example">
		<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
		<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
		</div>
		</td>
		</tr>
		}
		</tbody>
		</table>*@
		<div id="div-table"></div>
	</div>
</div>
@section Scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$.ajax({
				type: "GET",
				url: '@Url.Action("GetAll", "Commissioner")',
				success: function (response) {
					var Data = response.data;
					console.log(Data);
					var table = new Tabulator("#div-table", {
						data: Data,
						layout: "fitColumns",
						columns: [
							{ title: "Name", field: "nameFull", headerFilter: "input" },
							{
								title: "Disabled?", field: "isDisabled", hozAlign: "center", width: "9px",
								formatter: function (cell, formatterParams, onRendered) {
									var data = cell.getData();
									if (data.isDisabled) {
										return '<input type="checkbox" class="custom-checkbox" checked>';
									}
									else {
										return '<input type="checkbox" class="custom-checkbox">';
									}
								}
							},
							{
								title: "Actions", field: "button", headerHozAlign: "left", headerSort: false, hozAlign: "left", resizable: false,
								formatter: function (cell, formatterParams, onRendered) {
									var data = cell.getData();
									var EditUrl = '@Url.Action("Edit", "Commissioner")/' + data.id;
									var DeleteUrl = '@Url.Action("Delete", "Commissioner")/' + data.id;

									var Edit = `<a href='${EditUrl}' class='btn btn-warning'><i class='fas fa-edit'></i> </a>`;
									var Delete = `<a href='${DeleteUrl}' class='btn btn-danger'><i class='fas fa-trash'></i> </a>`;
									var html = `${Edit} ${Delete}`;

									return html;
								}
							}
						],
					});
				}
			})
		});
	</script>
	}
