@using Solution.Core.Models.HR.Dto;
@model IEnumerable<DesignationDto>

@{
	var title = "Designation List";
	ViewData["Title"] = title;
}
<partial name="_Notification" />
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-8">
				<h2>@title</h2>
			</div>
			<div class="col-4 text-end">
				<a asp-action="Create" class="btn btn-success text-white mt-1"><i class="fas fa-plus"></i> Create New</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered table-responsive">
			<thead class="bg-info align-middle text-center">
				<tr>
					<th>@Html.DisplayNameFor(model => model.DesigName)</th>
					<th>@Html.DisplayNameFor(model => model.DesigNameShort)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.DesigName</td>
						<td>@item.DesigNameShort</td>
						<td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	@*<div id="div-table"></div>*@

</div>
@*<script src="~/lib/tabulator/dist/js/tabulator.min.js"></script>
<script>
	//define data array
	var tabledata = [
		{ id: 1, name: "Oli Bob", progress: 12, gender: "male", rating: 1, col: "red", dob: "19/02/1984", car: 1 },
		{ id: 2, name: "Mary May", progress: 1, gender: "female", rating: 2, col: "blue", dob: "14/05/1982", car: true },
		{ id: 3, name: "Christine Lobowski", progress: 42, gender: "female", rating: 0, col: "green", dob: "22/05/1982", car: "true" },
		{ id: 4, name: "Brendon Philips", progress: 100, gender: "male", rating: 1, col: "orange", dob: "01/08/1980" },
		{ id: 5, name: "Margret Marmajuke", progress: 16, gender: "female", rating: 5, col: "yellow", dob: "31/01/1999" },
		{ id: 6, name: "Frank Harbours", progress: 38, gender: "male", rating: 4, col: "red", dob: "12/05/1966", car: 1 },
	];

	//initialize table
	var table = new Tabulator("#div-table", {
		data: tabledata, //assign data to table
		autoColumns: true, //create columns from data field names
		layout: "fitDataTable",
	});
</script>*@