@using Solution.Core.Models.Test.Dto;
@model IEnumerable<TestParentDto>

@{
	var title = "Test Parent List";
	ViewData["Title"] = title;
}
<partial name="_Notification" />
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-8">
				<h2>@title</h2>
			</div>
			<div class="col-4 text-end">
				<a asp-action="Create" class="btn btn-success text-white mt-1"><i class="fas fa-plus"></i> Create New</a>
				@*<a onclick="showInPopup('@Url.Action("AddOrEdit","TestParent",null,Context.Request.Scheme)','New Parent')" class="btn btn-success text-white mt-1"><i class="fas fa-plus"></i> Create New</a>*@
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered table-responsive">
			<thead class="bg-info align-middle text-center">
				<tr>
					<th>@Html.DisplayNameFor(model => model.ParentName)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.ParentName</td>
						<td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
								@*<a onclick="showInPopup('@Url.Action("AddOrEdit","TestParent",new{id=item.Id},Context.Request.Scheme)','Update Parent')" class="btn btn-success text-white mt-1"><i class="fas fa-edit"></i> </a>*@
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>